<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
         border:1px solid black;
           border-collapse:collapse; 
        }
        table a{
            color:black;
            text-decoration:none;
        }
    </style>
</head>

<body>
    <main>
        <h2>{{supervisor}}</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Institution</th>
                    <th>Approved?</th>
                </tr>
            </thead>
            <tbody>
                {%for students in student %}
                <tr>
                    <td> {%for s in stu %}
                        {%if s.username == students.username%}
                        <a href="view/{{s.id}}">{{s.first_name}} {{s.last_name}}</a>
                        {%endif%}
                        {%endfor%}</td>
                    <td> {{students.institution}}</td>
                    <td> Yes </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>

    </main>
</body>

</html>
